:host {
  --content-padding: 16px;
}
header {
  display: block;
  height: 60px;
  padding: calc(var(--content-padding) / 2) calc(var(--content-padding) * 3);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

header img {
  padding-top: calc(var(--content-padding) / 2);
}

.content {
  padding: var(--content-padding) calc(var(--content-padding) * 3);
}